* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
}

.weather-grid {
  display: grid;
  padding: 10px;
  gap: 10px;
  width: 100%;
  grid-template-areas:
    "D-one"
    "D-two"
    "D-three"
    "D-four"
    "D-five";
}

.weather-grid:nth-child(1) {
  grid-area: D-one;
}
.weather-grid:nth-child(2) {
  grid-area: D-two;
}
.weather-grid:nth-child(3) {
  grid-area: D-three;
}
.weather-grid:nth-child(4) {
  grid-area: D-four;
}
.weather-grid:nth-child(5) {
  grid-area: D-five;
}

.weather-article {
  display: grid;
  padding: 10px;
  gap: 1rem;
  grid-template-areas:
    "date"
    "temp"
    "wind"
    "humidity";
}

@media screen and (min-width: 35em) {
  .weather-grid {
    grid-template-areas:
      "D-one D-two"
      "D-three D-four"
      "D-five D-five";
  }
}

@media screen and (min-width: 60em) {
  .weather-grid {
    grid-template-areas: "D-one D-two D-three D-four D-five";
  }
}
