* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
}

.weather-grid {
  display: grid;
  grid-template-areas:
    ". . current . ."
    "D-one D-two D-three D-four D-Five"
    ". . footer . .";
}
