* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.search {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.search.active {
  width: 360px;
}

.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

.search .icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-4px, -4px) rotate(315deg);
}

.search .icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background: #287dfc;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}

.weather-grid {
  margin: 5rem 0;
  display: grid;
  padding: 10px;
  gap: 10px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.currentDay {
  display: grid;
  grid-row: span 2;
  justify-content: center;
  gap: 10px;
  padding: 1.5rem;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.weather-article:nth-child(2).active {
  grid-row: span 2;
}
.weather-article:nth-child(3).active {
  grid-row: span 2;
}
.weather-article:nth-child(4).active {
  grid-row: span 2;
}
.weather-article:nth-child(5).active {
  grid-row: span 2;
}
.weather-article:nth-child(6).active {
  grid-row: span 2;
}

.weather-article {
  display: grid;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
  grid-template-areas:
    "date"
    "temp"
    "wind"
    "humidity";
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

.weather-article .img-block {
  height: 150px;
  width: 150px;
  background: transparent;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}

.weather-article .img-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  position: absolute;
  width: 100%;
}

.footer-content {
  display: grid;
  justify-content: center;
  padding: 1.5rem;
  gap: 1.5rem;
  grid-template-areas:
    "links"
    "copyright";
}

.links {
  grid-area: links;
  display: flex;
  justify-content: center;
}

.copyright {
  grid-area: copyright;
}

@media screen and (min-width: 35em) {
  .weather-grid {
    grid-template-columns: 1fr 1fr;
  }

  .currentDay {
    grid-column: span 2;
  }

  .weather-article:nth-child(6) {
    grid-column: span 2;
  }

  .weather-article:nth-child(6).active {
    grid-row: 4/6;
    grid-column: 2/3;
  }

  .weather-article:nth-child(6).active ~ .weather-article:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .weather-article:nth-child(2).active ~ .weather-article:nth-child(6) {
    grid-column: 2/3;
  }

  .weather-article:nth-child(3).active ~ .weather-article:nth-child(6) {
    grid-column: 2/3;
  }
  .weather-article:nth-child(4).active ~ .weather-article:nth-child(6) {
    grid-column: 2/3;
  }
  .weather-article:nth-child(5).active ~ .weather-article:nth-child(6) {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 60em) {
  .weather-grid {
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: 1fr 1fr;
  }

  .currentDay {
    grid-column: span 3;
    /* grid-row: 1/2; */
  }

  .weather-article:nth-child(2).active ~ .weather-article:nth-child(6) {
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .weather-article:nth-child(3).active ~ .weather-article:nth-child(6) {
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .weather-article:nth-child(5).active {
    grid-row: 3/5;
  }
  .weather-article:nth-child(5).active ~ .weather-article:nth-child(6) {
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .weather-article:nth-child(6).active {
    grid-row: 3/5;
    grid-column: 3/4;
  }
}
